body
{
    font-family: sans-serif;
}

li{
 
    display: inline-block;
    color:black;
    line-height: 25px;
    padding: 0 10px;
    margin-left: 4rem;

}


#common
{
    width: 100%;
    height: 100%;
    background-image: url(../images/Vector-1.png);
    background-repeat: no-repeat;
}
.left
{
    margin:61.667px;
    width: 35%;
    float: left;
    text-align: left;
}
.left img{
    width:60px;
    height:55.1px;
}
.left h1{
   
    color: #283a5e;
    font-size: 25px;
    line-height: 30px;
}
.left p{
    font-size: 16px;
    line-height: 24px;
}
.left b{
    font-size: 16px;
    color: #3C4D6F;
    letter-spacing: 0;
    line-height: 30px;
}
.left span{
    color: #ff4800;
    font-size: 20px;
}
#side
{
    width: 16px;
    height: 16px;
}
.right
{
    margin:61.667px;
    float:left;
    border: 1px solid black;
    padding: 50px;
    padding-top: 0px;
    
}
.right input
{
    padding: 10px;
}
.right textarea
{
    padding-top: 10px;
    padding-left: 10px;
    font-family: monospace;
}
.right h1
{
    text-align: center;
}
.right p
{
    text-align: center;
}
input:hover
{
    border: 1px solid lightsalmon;
}
textarea:focus
{
    border: 1px solid lightsalmon;
}
#submitbutton
{
    padding: 10px 165px;
    background-color: #ff4800;
    color: white;
    font-size: 20px;
    border: 1px solid #ff4800;
    border-radius: 3px;
}
.right span{
    color: #ff4800;
}
.off
{
    margin:auto;
}
.off h1{
    color:#283a5e;
    text-align: center;
    font-size: 36px;
    font-family: Caros-Bold,sans-serif;
}
.off li{
    width:25%;
    float: left;
    list-style: none;
    border: 1px solid #282828;
    font-family: sans-serif;
    line-height: 30px;
    margin: 30px;
    color:#283A5F;
}
.off p{
    position: relative;
    left:10px;
}
.off img{
    width:100%;
    height: 25%;
    
}
.contact
{
    text-align: center;
    color:#283A5F;
}
.follow img{
    color: #828893;
}
.last li
{
    width: 25%;
    float: left;
    list-style: none;
    line-height: 30px;
}
.last b{
    color:#283A5F;
    font-style: bold;
    font-size: 19px;
}
.last img{
    width:25px;
    height:25px;
    padding-top: 20px;
}
#lastimg
{
    width:150px;
    height:150px;
    padding-top: 0px;
}
.footer img
{
    width:150px;
    height:150px;
    padding-top: 0px;
}
li{
    background-color: white; 
    display: inline;
    padding: 10px;
    line-height: 50px;
    display: inline-block;
    padding:50px,0,15px;
    

}
li:hover{
    background-color: tomato;
    display: inline-block;

}